In [34]:
import pandas as pd 
csv_path = "Kathmandu_temperature_daily.csv"
df = pd.read_csv(csv_path)

In [35]:
df = df.iloc[4:]

In [30]:
#df.rename(columns={'#elname=temperature':'year','Unnamed: 1':'month','Unnamed: 2':'day','Unnamed: 3':'value'},replace=True)
df.columns=['year','month','day','temperature']
df.reset_index(drop=True, inplace=True)
print(df.head())

NameError: name 'df' is not defined

In [31]:
df['month'] = df['month'].astype(int)
df['day'] = df['day'].astype(int)
print(df.head())

NameError: name 'df' is not defined

In [24]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']].astype(int).astype(str).agg('-'.join, axis=1))
print(df.head())

<class 'pandas.core.series.Series'>
   year  month  day value       date
0  1991      1    5   9.5 1991-01-05
1  1991      1    6   9.5 1991-01-06
2  1991      1    7   9.7 1991-01-07
3  1991      1    8    10 1991-01-08
4  1991      1    9  10.2 1991-01-09

In [28]:
df = df.drop(['year','month','day'],axis=1)
print(df.head())

  value       date
0   9.5 1991-01-05
1   9.5 1991-01-06
2   9.7 1991-01-07
3    10 1991-01-08
4  10.2 1991-01-09

In [29]:
df.set_index('date',inplace=True)
print(df.head())

           value
date
1991-01-05   9.5
1991-01-06   9.5
1991-01-07   9.7
1991-01-08    10
1991-01-09  10.2

In [56]:

#How can we merge the two csv in single dataframe using the pandas
import pandas as pd
import numpy as np
df = pd.read_csv('Kathmandu_temperature_daily.csv')
df = df.iloc[4:]
df.columns = ['year','month','day','temperature']
df['year'] = df['year'].astype(int)
df['month'] = df['month'].astype(int)
df['day'] = df['day'].astype(int)
df['temperature'] = df['temperature'].astype(float)
df['date'] = pd.to_datetime(df[['year', 'month', 'day']].astype(int).astype(str).agg('-'.join, axis=1))
df=df.drop(['year','month','day'],axis=1)
df.set_index('date',inplace=True)
df['temperature'] = df['temperature'].replace(-9999,np.nan)



df2 = pd.read_csv('Kathmandu_precipitaiton_daily.csv')
df2 = df2.iloc[4:]
df2.columns = ['year','month','day','precipitation']
df2['year'] = df2['year'].astype(int)
df2['month'] = df2['month'].astype(int)
df2['day'] = df2['day'].astype(int)
df2['precipitation'] = df2['precipitation'].astype(float)
df2['date'] = pd.to_datetime(df2[['year', 'month', 'day']].astype(int).astype(str).agg('-'.join, axis=1))
df2=df2.drop(['year','month','day'],axis=1)
df2.set_index('date',inplace=True)
df2['precipitation'] = df2['precipitation'].replace(-9999,np.nan)



joined_df = pd.merge(df,df2,on=df.index,how='left')
print((9+np.nan+10)/2)
print(joined_df)

nan
           key_0  temperature  precipitation
0     1991-01-01          9.5            1.7
1     1991-01-02          8.2           14.6
2     1991-01-03          8.1            4.4
3     1991-01-04          8.5            0.0
4     1991-01-05          9.5            0.0
...          ...          ...            ...
12044 2023-12-23          NaN            NaN
12045 2023-12-24          NaN            NaN
12046 2023-12-25          NaN            NaN
12047 2023-12-26          NaN            NaN
12048 2023-12-27          NaN            NaN

[12049 rows x 3 columns]

NameError: name 'df' is not defined

In [73]:
import pandas as pd 

file_path = "1981_2020_ktm_pkr.xlsx"
df = pd.read_excel(file_path)
df['Time'] = pd.to_datetime(df['Time'], format='%m/%d/%Y %H:%M:%S')
df.set_index('Time',inplace=True)
df = df[df.index.month == 7]
average_results_pokhara  = df.groupby(df.index.year).agg({'Pokhara Airport':['mean','max','min']})
average_results_kathmandu  = df.groupby(df.index.year).agg({'Kathmandu Airport':['mean','max']})
print(average_results_pokhara.head())
print(average_results_kathmandu.head())

     Pokhara Airport
                mean    max  min
Time
1981       25.832258  135.9  0.0
1982       27.583871  164.2  0.0
1983       23.019355  111.1  0.0
1984       42.919355  171.5  0.0
1985       29.190323  223.8  0.0
     Kathmandu Airport
                  mean   max
Time
1981          9.806452  35.5
1982          7.683871  51.7
1983         16.125806  72.0
1984          8.067742  30.2
1985         13.493548  50.8